body {
    background-color: lightgrey;
}
h1 {
    text-align: center;
}
p {
    text-align: left;
    width: 50%;
    margin: 0 auto;
}
div form {
    margin-top: 50px;
}
div form input p {
    margin: 0 auto 10px auto;
}
div form input  {
    margin: 0 auto 10px auto;
}